<h1>Google flu Streamgraph</h1>

<body>

<script>
    drawStreamGraph();
</script>

</body>

<div id='tooltip'
     style = 'background-color: lightgray; width: 200px; height: 7em; text-align: left;
             opacity: 0.7; border-radius: 5px; display: none; padding-left: 1em;'      >
</div>
