<h2>Google Flu Trends</h2>

<div id="gf_stream_graph" class=center>
    <script>
        drawStreamGraph();
    </script>

</div>

<br>
Above is my second visualization using D3. It is a Stream Graph visualization of
<a href="http://www.google.org/flutrends/">Google Flu Trends</a> estimate of
flu in the United States.[1] Thicker bars for higher numbers. Each band is a
<a href="http://www.hhs.gov/about/regionmap.html">region of the US </a>
made up of a group of states. Mouse or touch a band to explore and you'll see a tool tip with
the flu activity estimate in that region on that date. The specific numbers "can be interpreted as
the estimated number of Influenza Like Illness cases per 100,000 physician visits." [1] But more importantly
the visualization shows the relative difference over the years and the seasonal nature of the flu. It
also shows that even though it was early in the 2012/2013 flu season, it showed higher flu
activity than any previous year in this 10 year dataset. <br>

<div id='tooltip'></div>
