<div id="gf_stream_graph">
    <button type="button" id="stream" class="btn">Streamgraph</button>
    <button type="button" id="stack" class="btn">Stacked Area</button>
  <script>
      drawStreamGraph();
  </script>

</div>

<div id='tooltip'></div>
