<h1>Diabetes Translator  <br>
  <span class='small'>Understand your data, take control of your health</span>
</h1>

<p class='center'>Welcome to Diabetes Translator.  Soon you'll be able to look at your data, understand it and
  use it to control your health. </p>
