<h1>Diabetes Translator  <br>
  <span class='small'>Understand your data, control your health</span>
</h1>

<p>Welcome to Diabetes Translator.  Soon you'll be able to look at your data, understand it and
  use it to control your health. </p>
