<h1>Diabetes Translator  <br>
  <span class='small'>Understand your data, control your health</span>
</h1>

<p class='center'>Welcome to Diabetes Translator.  Soon you'll be able to see your data, understand it and
  use it to control your health. </p>
