// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Arial, sans-serif;
  font-size: 300%;
  font-style: italic;
  line-height: 1%;
}
h2 {
  text-align: center;
}
small {
  font-size: 90%;
  font-style: italic;
  line-height: 1%;
}

.right {
  text-align:  right;
}
.left {
  float: left;
}
.center {
  text-align: center;
  line-height: 1%;
}
body {
  width: auto;
}
