// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Arial, sans-serif;
  font-style: italic;
  line-height: 40%;
  text-align: center;
  font-size: 250%;
}
h2 {
  text-align: center;
}
.small {
  font-size: 35%;
  font-weight: normal;
}
.big {
  font-size: 125%;
}
.right {
  float:  right;
}
.left {
  float: left;
}
.center {
  text-align: center;
  line-height: 1%;
}
body {
  width: auto;
}
